# ignore all files starting with .
.*
# track this file .gitignore (i.e. do NOT ignore it)
!.gitignore
!.github
php_errorlog
*.log

# do not ignore gitpod and render files
!.gitpod.Dockerfile
!.welcome
!.devcontainer
!.devcontainer/*
!Dockerfile.render
!.gitpod.yml
render.yaml
!.render.yaml
!.render-buildpacks.json

# track webpack configs (i.e. do NOT ignore it)
!webpack.config.js
__pycache__/
*.pyc
venv/