[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cpu"
verify_ssl = true
name = "pytorch-cpu"

[packages]
matchering = "*"
torch = {version = "*", index = "pytorch-cpu"}
torchaudio = {version = "*", index = "pytorch-cpu"}
demucs = "*"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
start = "flask run -p 3001 -h 0.0.0.0"
init = "flask db init"
migrate = "flask db migrate"
upgrade = "flask db upgrade"
deploy = "flask db upgrade"